[2011-03-26 05:26] jmcastagnetto opened #1 "php pyrus.phar make failing"
Just downloaded PEAR2_Pyrus 2.0.0a2 from pear2.php.net and generates an exception when trying to make a package.xml for [Math_Trigonometry](https://github.com/jmcastagnetto/Math_Trigonometry) using:
- php ~/Downloads/pyrus.phar make

I got the devel tools installed.

Here is a stack trace using xdebug:

Pyrus version 2.0.0a2 SHA-1: CA3946A5C2C7DE7CD6ED89CAC7CCC06606E006D3
Using PEAR installation f

[2011-03-26 07:25] indeyets commented on #1
@jmcastagnetto look at the last lines — everything is there. your package.xml is invalid and Pyrus cares about that much more than old pear command

[2011-03-26 13:14] saltybeagle commented on #1
Aha, the package.xml file isn't present. Looks like that error needs to be much clearer.

Ususally pyrus starts with something and the 'make' command updates it. The skeleton generator can create a package.xml for you to start with. I suppose we could invoke the skeleton generator if there's no package.xml present. What do you think?

[2011-03-26 13:24] saltybeagle commented on #1
Aha, actually it looks like the pyrus dev tools will create a package.xml if you have everything in place.
`pyrus help make` has all the details, but basically you need your README, CREDITS, and RELEASE-0.1.0 files in place so pyrus knows the required details about what package you're building and then `pyrus make Math_Trigonometry` should work.

[2011-03-26 23:18] jmcastagnetto commented on #1
OIC, I tried on my netbook and it did work. Also I noticed that my CREDITS files had a utf-8 BOM.

I was being lazy and trying to use pyrus to get a base package.xml with the new format that I could later complete/modify. Now I have a starting point to mangle it :-)

Domo Arigato

[2011-03-26 23:18] #1 closed, assigned to nobody

[2011-03-30 12:48] cweiske opened #2 "download progressbar does not vanish"
It seems the download progressbar is kept in the console, leading to unpretty output:

[code]

[2011-04-26 12:41] fpoirotte opened #3 "AtomicFileTransaction rename bin_dir"
Copied from http://pear.php.net/bugs/bug.php?id=17627
## Description:

When installing PEAR2_Pyrus the following exception occures:

[code]

This exception originates in AtomicFileTransaction.php line 655.
The reason for the exception is that it tries to rename "C:\xampp.old-php" to "C:\xampp\php" and this is not possible because php.exe is in use.

Maybe related to https://pear.php.net/bugs/bug.p

[2011-05-03 18:15] gauthierm opened #5 "fails to run when detect_unicode is enabled"
[avb@www ~]$ uname -a
FreeBSD www 8.2-RELEASE FreeBSD 8.2-RELEASE #0: Thu Feb 17 02:41:51 UTC 2011
  root@mason.cse.buffalo.edu:/usr/obj/usr/src/sys/GENERIC  amd64
[avb@www ~]$ php -v
PHP 5.3.5 (cli) (built: Feb 21 2011 14:33:13)
Copyright (c) 1997-2010 The PHP Group
Zend Engine v2.3.0, Copyright (c) 1998-2010 Zend Technologies
[avb@www ~]$ php -ddetect_unicode=1 pyrus.phar
??\sP?[avb@www ~]$

Rel

[2011-05-03 18:17] gauthierm commented on #5
Hmm, looks like it's actually a core PHP bug: http://bugs.php.net/bug.php?id=42396

[2011-05-03 18:18] saltybeagle commented on #5
If we can detect it before it fails, that'd be great.

[2011-05-06 23:27] mfonda opened #6 "rmdir fails on non-empty directory during uninstall"
I tried installing the `aws/sdk` package from the channel `pear.amazonwebservices.com`, and later uninstalled it, and get a bunch of warnings about the directories not being empty. The package still successfully uninstalls, but some directories are left behind.

Steps to reproduce:

[code]

It looks like the calls is in `PEAR2_Pyrus/src/PEAR2/Pyrus/Filesystem.php`. I haven't investigated at all ye

[2011-05-09 19:15] fpoirotte opened #7 "[Feature Req.] Set settings for a specific channel"
Pyrus supports channel-specific settings as mentionned on http://pear.php.net/manual/en/pyrus.configuration.user.php, but it seems there is currently no way to set such settings apart from manually editting ~/.pear/pearconfig.xml.

Hence, what I propose is to add an option to allow the channel to be specified. I also suggest to use -c / --channel to make it coherent with pear (see pear help config

[2011-05-10 15:09] saltybeagle commented on #6
It looks like the Filesystem.php class is being called with `$onlyEmptyDirs === true` and there's a check for this which short-circuits the unlink call for filepaths.

https://github.com/pear2/PEAR2_Pyrus/blob/master/src/PEAR2/Pyrus/Filesystem.php#L76

When two libs are installed the files CAN be placed within the same `php/{blah}` directory. Care needs to be taken so that only the files from the

[2011-05-16 16:56] gauthierm opened #8 "symlinks are broken after install"
Pyrus defaults the bin_dir to /usr/bin.

The transactional part of installing a package breaks when handling symlinks present in /usr/bin on Ubuntu systems. This leaves the /usr/bin dir in an inconsistent state.

[2011-05-16 16:57] gauthierm opened #9 "Add better message when bin_dir is not writeable"
Currently if a package needs to use the bin_dir and it is not writeable pyrus fails with a cryptic message.

The message should be made better and should contain the command to set the bin dir.

[2011-05-16 16:58] gauthierm opened #10 "Default bin_dir is not writeable"
The default bin_dir is /usr/bin even when you do a local installation. When pyrus is initialized, it should use a local bin dir.

[2011-05-16 17:22] gauthierm opened #11 "Better message for plugin installation failed"
Currently we suggest installing with -p but we don't way why it's necessary. The pyrus manual has a great section explaining things and a condensed version would make sense to show in the error message.

http://pear.php.net/manual/en/pyrus.differences.frompear.php#pyrus.differences.frompear.overview.secure

[2011-05-16 17:23] saltybeagle commented on #10
Not advocating for one way or the other, just some more info:
Changing this would make pyrus handle scripts different than PEAR. Currently the bin_dir defaults to the same directory as the php executable. This ensures commands installed will likely be in your path. It would be a little odd to install PHPUnit, and not get the phpunit command at CLI without first specifying another bin_dir directory

[2011-05-16 18:37] #11 closed, assigned to nobody

[2011-05-16 18:44] saltybeagle commented on #3
@boekkooi Hey Warnar, I wonder if you have any thoughts on this issue. Should we not handle bin_dir transactions in this way?

[2011-05-16 20:42] boekkooi commented on #3
@saltybeagle What we can do is use a temp directory for the backup and journal version of the atomic file transaction. Then on rollback we can see if the parent directory is writable and then just use the rename or when it is not just copy over each file.

See :
https://github.com/boekkooi/PEAR2_Pyrus/blob/master/src/PEAR2/Pyrus/AtomicFileTransaction/Transaction/Base.php - Line: 140
https://github

[2011-05-16 21:57] saltybeagle commented on #3
@boekkooi If you could look into them, that would be fantastic.  :-)

[2011-05-17 23:41] boekkooi commented on #3
@saltybeagle what do you think about this idea: http://pastebin.com/qFmiQT6q

[2011-05-23 13:50] saltybeagle commented on #3
@boekkooi That sounds like a good direction to go.

[2011-05-25 19:30] saltybeagle opened #12 "generate-ext gives warnings"
$ pyrus generate-ext xhprof
Using PEAR installation found at /Users/bbieber/pear
PHP Warning:  file_get_contents(/config.m4): failed to open stream: No such file or directory in /Users/bbieber/Documents/workspace/PEAR2_Pyrus_Developer/src/PEAR2/Pyrus/Developer/PackageFile/Commands.php on line 795
...

[2011-05-27 03:40] helgi commented on #12
FIXED!

[2011-05-27 03:40] #12 closed, assigned to nobody

[2011-05-30 06:51] cweiske opened #13 "default channel setting has no effect"
I tried to install QF2 with pyrus and again forgot to specify `pear/`, so I set the default channel. Unfortunately, this did not help. In the end I installed it again by specifying `pear/`

[code]

[2011-05-30 06:55] cweiske opened #14 "error message for alpha/beta packages should be better"
When trying to install a alpha/beta package and your preferred stability is stable, you get a message indicating the package does not exist:

[code]

The message should be along "no stable package found, but try install -beta".

[2011-05-30 06:56] cweiske opened #15 "installing mime_type fails: Unable to begin transaction"
[code]

[2011-05-30 06:57] cweiske opened #16 "Show command help when option not found"
When using an unknown option to a command, the global pyrus help is shown instead of the command's help:

[code]

[2011-06-03 14:42] cweiske opened #17 "Pyrus: Installation of pecl/APC fails: constraint failed"
[code]

[2011-06-03 14:43] cweiske opened #18 "C compiler cannot create executables"
Trying to compile xdebug fails with "C compiler cannot create executables", although manually running the command works.

[code]

[2011-06-03 14:43] cweiske opened #19 "building pecl/xdebug gives warnings and notices"
Error:

[code]

    
    Notice: Undefined property: PEAR2\Pyrus\PECLBuild::$current_callback in phar:///opt/phpfarm/inst/php-5.3.5/pyrus.phar/PEAR2_Pyrus-2.0.0a2/php/PEAR2/Pyrus/PECLBuild.php on line 474
    WARNING: php_bin /opt/phpfarm/inst/php-5.3.5/bin/php appears to have a suffix farm/inst/php-5.3.5/bin/php, but config variable php_suffix does not match

[2011-06-03 14:44] cweiske opened #20 "download validates package"
Installing a pecl package does not work because of an bug in it. Now I just wanted to download the package and fix it, but even when just downloading a package it validates the archive:

[code]
## Expected result:

I want a downloaded file that I can fix. Pyrus should not verify it.

[2011-06-03 14:46] cweiske opened #21 "pickle generated PECL packages fail at build/install time"
Pyrus version 2.0.0a1 SHA-1: E8D2B52B1C5FB9C1F02D753BECEAB96176348F77

When creating a package from the ssdeep PECL extension I attempted to run `php pyrus.phar pickle`, which completed successfully and produced a .tgz package as expected.

Subsequently I ran `pecl install ssdeep-1.0.2.tgz` to test building and installing the extension from the package.

This feedback "ERROR: file /build/buildd/ph

[2011-06-03 14:46] cweiske commented on #21
The files are hosted by cweiske:
1. http://tmp.cweiske.de/pickle-donotpackage-ssdeep-1.0.2.tgz
2. http://tmp.cweiske.de/pickle-ssdeep-1.0.2.tgz

File 1 was generated using the two step method (`php pyrus.phar pickle --
donotpackage` followed by `php pyrus.phar package`)

File 2 was generated using straight `php pyrus.phar pickle`

[2011-06-03 14:47] cweiske opened #22 "Long path name error"
## Description:

Using pyrus.phar from a workpath with more than 80 characters results in a loop and Windows recognizing that CLI stopped working application. (a)
If the path then also contains '.' , '-' and '_' then a memory error is thrown. (b)

With lesser characters in the path, everything works fine as expected.
## Test script:

a)
E:\0123456789a123456789b123456789c123456789d123456789e1234567

[2011-06-03 14:47] cweiske opened #23 "Pyrus\Registry->getIterator not returning traversable"
## Description:

When doing a foreach on Config::registry a exception is thrown.
## Test script:

[code]
## Expected result:

A working foreach
## Actual result:

[code]

be traversable or implement interface Iterator' in

[2011-06-03 14:48] cweiske opened #24 "AtomicFileTransaction rename bin_dir"
## Description:

When installing PEAR2_Pyrus the following exception occures:
 'PEAR2\Pyrus\AtomicFileTransaction\Exception' with message 'Cannot rollback - not in a transaction' in E:\workspace\all\Pyrus\src\Pyrus\AtomicFileTransaction.php:535

This exception originates in AtomicFileTransaction.php line 655.
The reason for the exception is that it tries to rename 'C:\xampp.old-php' to 'C:\xampp\p

[2011-06-03 14:48] cweiske commented on #24
As stated by Warnar, changing the bin_dir option will allow you to pass through this exception and successfully install the package, but you will get the same exception the next time some package tries to install an executable.

Also, I got a similar exception while trying to uninstall a package installed using the workaround above :
$ pyrus.phar un erebot/Erebot
Using PEAR installation found at /

[2011-06-03 14:49] cweiske opened #25 "PEAR2\Pyrus\Registry\Xml unwriteable/none existing folder"
## Description:

Create a Xml Registry with a unwriteable/none existing folder.
No exception is thrown.
## Test script:

$xml = new PEAR2\Pyrus\Registry\Xml('C:\LLALALALALALALALALA');
## Expected result:

Exception: 'Cannot create Xml registry'
## Actual result:

Registry is created without exception.

[2011-06-03 14:50] cweiske opened #26 "Installation data folder wrong"
## Description:

When installing PEAR2_Pyrus the data for the data folder is installed in the wrong location.
## Test script:

Create a new registry:
php pyrus.phar <registry_location> install PEAR2_Pyrus
php pyrus.phar <registry_location> list-channels

Goto:
<registry_location>\data\PEAR2_Pyrus\pear2.php.net\PEAR2_Pyrus\pear2.php.net
## Expected result:

Data files should be placed in:
<registry

[2011-06-03 14:51] cweiske commented on #26
This bug also cause the following problem:

Description:
When installing a package Using de OOP interface the following warning is displayed: Warning: DOMDocument::schemaValidate(): Invalid Schema in D:\pear\repo\php\PEAR2
\Pyrus\XMLParser.php on line 209

Expected result:
No warning

Actual result:
A warning because the schema file is not in the expected place on the filesystem.

[2011-06-03 14:51] cweiske commented on #26
This bug also cause the following problem:
When installing a package Using de OOP interface the following exceptions are show:

Fatal error: Uncaught exception 'PEAR2\MultiErrors' with message 'multiple errors found' in D:\pear\repo\php\PEAR2\Pyrus\Channel\RemotePackage.php:337
Stack trace:
#0 D:\pear\repo\php\PEAR2\Pyrus\Package\Remote.php(155): PEAR2\Pyrus\Channel\RemotePackage->download()
#1 D:

[2011-06-03 14:51] cweiske commented on #26
It looks like 'PEAR2_Console_CommandLine' and 'PEAR2_HTTP_Request' also have location placement bug but then for the docs and tests folders.

Also added the following bug: http://pear.php.net/bugs/bug.php?id=17590 (maybe i was a bit to quick)

[2011-06-03 14:51] cweiske opened #27 "package.xml basedir='./'"
## Description:

When i was trying to install a pear package from one of your local repositories i got the following exeption:
PEAR2\Pyrus\Installer\Exception: failed to mkdir Dmm_ZF.\Zend\
 PEAR2\Pyrus\AtomicFileTransaction\Exception: Unable to make directory Dmm_ZF.\
Zend\ in D:\pear\testrepo.journal-data
## Test script:

Create a package change the 'baseinstalldir' in the package.xml to "./".
#

[2011-06-03 14:52] cweiske commented on #27
patch available at http://pear.php.net/bugs/bug.php?id=17603&edit=12&patch=Commom.php_fix&revision=latest

[2011-06-03 14:52] cweiske opened #28 "\tests\Config\loadConfigFile"
## Description:

All tests in Pyrus\tests\Config\loadConfigFile directory fail on windows.
The reason for this is that Pyrus\Config class is not converting the *_dir config options to use DIRECTORY_SEPARATOR.
## Test script:

Run:
php scripts/pyrus run-phpt -r
## Expected result:

===DONE===
## Actual result:

Test Failure: "__dir"
 in D:\workspace\pear2\all\Pyrus\tests\Config\loadConfigFile\_.php

[2011-06-03 14:53] cweiske opened #29 "Pear1 - could not create Dependency lock file"
## Description:

run phpt on all\Pyrus\tests\Registry\Pear1 directory.
## Test script:

php scripts/pyrus run-phpt tests\Registry\Pear1\package\basic\basic.phpt
## Expected result:

=== DONE ===
## Actual result:

Could not create Dependency lock file exception

[2011-06-03 14:54] cweiske commented on #29
Patch available at http://pear.php.net/bugs/bug.php?id=17869&edit=12&patch=Path_patch&revision=latest

[2011-06-03 14:54] cweiske opened #30 "\PEAR2\Pyrus\Package exception"
## Description:

When creating a new instance of a package that is all ready in the rgistry a exception occures.
## Test script:

<?php
require_once 'PEAR2\Autoload.php';
\PEAR2\Pyrus\Config::setCurrent('d:/pear/testRepo');

// The will work like a charm
$pkg = new \PEAR2\Pyrus\Package('pear2.php.net/PEAR2_Pyrus');

// This will throw a 'PEAR2\Pyrus\Package\InstalledException'
$pkg = new \PEAR2\Py

[2011-06-03 14:54] cweiske commented on #30
saltybeagle (Brett Bieber)
Hmm, I think in this case the exception is to be expected.

To retrieve information about remote packages, pass $forceremote = true to Package::__construct so it won't look at the local registry before comparing against remote packages.

[2011-06-03 14:54] cweiske commented on #30
boekkooi (Warnar Boekkooi)
Okee so what your saying is don't use Package for getting information about a package that's allready installed? but use Registry::package and Registry::exists?

[2011-06-03 15:50] fpoirotte commented on #24
This is the same as issue #3 by the way, which I had already forwarded here.
Warnar has already started some work on this issue.

[2011-06-03 16:28] fpoirotte commented on #26
I can also reproduce this issue with any release of Phing (pyrus.phar i pear.phing.info/Phing).
Phing will not work out-of-the-box because the data files are installed at the wrong location, eg. phing/phing/listener/defaults.properties instead of just phing/listener/defaults.properties.

The package.xml file for Phing contains the following markup (shortened to display only the relevant parts):

[

[2011-06-03 19:52] #24 closed, assigned to nobody

[2011-06-07 13:13] cweiske opened #31 "build xdebug: undefined property"
root@elysium: ~/xdebug> /opt/phpfarm/inst/bin/pyrus-5.3.6 build pecl/xdebug
Pyrus version 2.0.0a1 SHA-1: 2FDFB5E00A6D707437DBC047AAF9D115C6484D90
Using PEAR installation found at /opt/phpfarm/inst/php-5.3.6/pear
Building PECL extensions
PHP Notice:  Undefined property: pear2\Pyrus\PECLBuild::$current_callback in phar:///opt/phpfarm/inst/php-5.3.6/pyrus.phar/PEAR2_Pyrus-2.0.0a1/php/pear2/Pyrus/PECL

[2011-06-07 14:48] helgi commented on #31
This is a duplicate of #19 - Please read over existing tickets, specially ones you reported yourself :-)

[2011-06-07 14:48] #31 closed, assigned to nobody

[2011-06-21 12:42] sandermarechal opened #32 "Allow skipping package signatures"
There should be an option to ignore package signatures. There currently exists an issue with the certificate of components.ez.no/ConsoleTools. When Pyrus tries to download it's certificate it fails, but components.ez.no does a 302 redirect to the front page. Pyrus downloads the front page and dies with an exception saying that the certificate is invalid. A simple thing like this currently makes al

[2011-06-22 14:02] CloCkWeRX opened #33 "Pre-register or allow easy registration of multiple channels"
Given the changes done to http://pear.php.net/channels/ we have an easy to maintain index of all of the known channels out there.

One comment people make frequently is in regard to 'pear's main channel is the only one enabled by default' -  http://blog.astrumfutura.com/2011/06/how-would-you-engineer-a-pear2pyrus-distribution-architecture/ for instance.

Why don't we ship pyrus with either all of

[2011-06-22 14:24] saltybeagle commented on #33
Security is the main reason. Right now the only channels included by default are hosted on PHP infrastructure, and I think that should be kept.

One thing that would ease this exaggerated "problem" is making it easier to discover new channels. Pyrus already does this by prompting the user to add an unknown channel when an install command is executed, instead of failing.

For example, installing a

[2011-06-22 15:07] saltybeagle commented on #26
This issue was fixed in PEAR2_Pyrus-2.0.0a2

[2011-06-23 05:01] cellog commented on #33
how about

$ pyrus discover-all
254 channels will be discovered
WARNING: PEAR does not endorse these channels as being secure.
See list of channels to be discovered? [Y/n] Y
pear.blah.net brief description
pear.example.com brief description 2
[252 more channels listed....]
Continue [Y/n] Y
discovering channels
...........................
done
$

I also like Brett's search idea very much.  All the

[2011-06-23 05:04] cellog commented on #3
the pastebin expired, would love to see the idea.  I LOVE your idea of using a temp directory.  I had thought we were doomed to remove atomic file transactions for bin_dir when I first read this.

[2011-06-23 05:07] cellog commented on #32
I agree, but would phrase as an option to skip downloading of package signatures.  The package will be validated against a sig if it contains one, regardless of whether it is downloaded.  You're talking about packages that don't contain sigs.  The other question is whether we could detect whether a downloaded file is a valid signature or one of these 302 bugs before we use it.

[2011-06-23 13:42] saltybeagle commented on #33
I think we're still OK for non-interactive install. Users can run the standard sequence: channel-discover, then install OR, set auto-discover=1 then install.

[2011-06-23 13:52] saltybeagle commented on #3
[code]

[2011-06-24 00:29] claylo opened #34 "pearDirectory argument forces realpath()"
realpath() is applied to every use of the pearDirectory value pulled off the first argument to the Pyrus command-line tool.

There are situations where this might not be desired behavior. For example, I'm preparing a vendor directory for an application that will use APC when deployed to production. APC treats relative include paths with some disdain, forcing a a stat call to any relative path. (Se

[2011-06-24 16:35] mfonda opened #35 "Channel registry exists bug"
(Bug migrated from pearweb #17585)
## Description:

Create a new \PEAR2\Pyrus\Config with a directory that is not yet a registry.
Get the channelregistry and check if 'pear2.php.net' exists.

This will return 1.

After this try to get the channel and a exception will be thrown.
## Test script:

[code]
## Expected result:
- Make channelregistry->exists return false
  or
- Let it throw a exception

[2011-06-24 16:38] mfonda opened #36 "Pyrus Install - No channel.xml"
(Bug migrated from pearweb bug #17588)
## Description:

\PEAR2\Pyrus\Config::singleton('d:\pear\testRepo') throws a 'Fatal error: Uncaught exception 'PEAR2\Pyrus\ChannelFile\Exception' with message 'Invalid channel.xml' in D:\pear\repo\php\PEAR2\Pyrus\ChannelFile\Parser\v1.php'.

It looks like when i create a new registry with the following command (this is not my main registry):
php pyrus.phar D:

[2011-06-24 16:40] mfonda opened #37 "Pyrus does not respect XDG_CONFIG_HOME"
(migrated from pearweb request #18381)
## Description:

When Pyrus initializes, it creates an  unsolicited directory $HOME/.pear/ instead of $HOME/.config/pear/
There's also no way to override that setting.

Home directory spamming was an established practice in the 90s. Meanwhile there is an agreed standard on where to put non-critical and non-system configuration files. $XDG_CONFIG_HOME or at th

[2011-06-24 16:46] mfonda opened #38 "Missing command-line option in Pyrus to disable package signing"
(Migrated from pearweb bug #18122)
## Description:

I configured my Pyrus installation so that it will use a certificate to sign packages I produce.
The problem is, I also have a buildbot using the same user account which tries to build nightly snapshots of my code as unsigned packages.
Whenever the slave starts the packaging process, Pyrus prompts it to choose whether the package should be signed

[2011-06-24 16:48] mfonda opened #39 "Provide a simple way to manage parent/child PEAR installations"
(Migrated from pearweb bug #10390)

When implementing cascading registries, it would be very important for breakage reasons to also allow a reverse cascade, so that the parent registry can determine whether an upgrade would break a child registry installation.  This way, the child registries would not have to be protected from a bad upgrade by the parent registry.

[2011-06-24 16:50] mfonda opened #40 "Automatic creation of bundles (package + dependencies)"
(Migrated from pearweb request #11101)
## Description:

It would be great if Pyrus could automatically create a bundle of a package. This would include all direct and indirect dependencies.

I am doing this by hand, because such a bundle has some advantages:
- Speed: I have an application with 40 dependencies (direct and indirect), install/upgrade with bundle takes a few seconds, with a normal pac

[2011-06-24 16:52] mfonda opened #41 "Improve check to see if channel must be updated"
(Migrated from pearweb request #17349)
## Description:

pear currently checks the status using the Last-Modified: header. It would be quite nice if another mechanism could be added.

The logical thing that comes to mind is a Content-MD5 header, but it might be a bit difficult for pear-servers such as Pirum (which is based on static files).

So perhaps the easiest thing is to just download the chan

[2011-06-24 17:55] cellog commented on #40
I have great news: pyrus was specifically designed to make this possible.  Check out the script that builds pyrus.phar, it pulls in several dependencies and bundles them.  This way, it can access them inside the phar.  Currently installation of the whole bundle is not yet implemented, but could be done with some thought

[2011-07-02 19:56] mfonda opened #42 "Original command not executed after prompt to install developer tools"
When attempting to execute a pyrus command that requires developer tools to be installed, and developer tools are not yet installed, pyrus will ask you if you would like to install them. Upon answering yes, they will be installed, but the original command will not be executed; you will have to run it again.

Example:

[code]

[2011-07-02 20:14] mfonda opened #43 "Pyrus should expand relative paths"
When a pyrus command is passed a relative path, this path does not necessarily necessarily get expanded.

For example,

[code]

I would expect this to set `my_pear_path` to `/home/mfonda/pyrus`, but it literally gets set to `./`

[2011-07-05 20:58] saltybeagle commented on #40
@berdir, FYI, @cellog responded with some additional info that might be helpful.

[2011-07-05 20:58] #40 closed, assigned to nobody

[2011-07-05 21:00] saltybeagle commented on #43
This is actually a really handy thing to have. Just like in PHP you can set your include path to "."  you could set pyrus to ./vendor to handle vendor dependencies inside the root of each project.

[2011-07-06 00:20] saltybeagle commented on #37
Correction, home directory spamming _is_ an established practice.

I'd be happy to accept any patches on this issue, but I do not see it as a priority.

[2011-07-06 00:20] #37 closed, assigned to nobody

[2011-07-06 18:08] mfonda commented on #43
Good point, that could be very useful.

[2011-07-06 18:08] #43 closed, assigned to nobody

[2011-07-08 04:54] error500 opened #44 "php folder copy is forbidden on Windows"
On an install command, after downloading, pyrus trys to make a copy of /php folder. Command is aborted on my pc
(Vista, i'm admin, i'm usin wamp with php 5.3.5)

Downloading pear.php.net/XML_Util=======================================>                            ] 71% ( 2/ 3 kb)
Connected...
Mime-type: application/octet-stream

PHP Warning:  rename(C:\wamp21\bin\php\php5.3.5,C:\wamp21\bin\php.old-

[2011-07-08 11:50] #16 closed, assigned to nobody

[2011-07-08 11:51] saltybeagle commented on #44
This is a duplicate of https://github.com/pear2/PEAR2_Pyrus/issues/3

[2011-07-08 11:51] #44 closed, assigned to nobody

[2011-07-16 20:21] helgi commented on #35
I can not really reproduce this anymore. While it may be right that exists() returns a bool and get() throws an exception, I still can't create a test case for this.

I do not see what the problem is tho, it is pretty normal for exists() to be a boolean while if you attempt to fetch a resource that doesn't exist it would return an exception. Making exists() initialise wouldn't solve anything eithe

[2011-07-16 21:29] till commented on #35
I'm not uberfamiliar with the code, but I agree with Helgi's comment/statement.

`exists()` should not initialize this. The nature of these functions is to return a `boolean` and then it's up to the developer to handle that. Otherwise, it defeats the purpose of the function. Or it has to be renamed to `createIfNotExists()`, but that shouldn't return a `boolean` either.

[2011-07-21 21:48] fpoirotte commented on #15
This looks like a duplicate of bug #9. Could you make sure you have write access on your bin_dir?

[2011-07-21 23:58] fpoirotte commented on #26
Actually, I can still reproduce this issue while trying to install phing using a fresh git clone.
See my previous comment for symptoms of this problem.

[2011-07-22 00:40] fpoirotte commented on #35
Then Matthew's first proposal still holds. The problem is, $config->channelregistry->exists('pear2.php.net'); returns true while any subsequent attempt to retrieve the channel with get() results in an exception being thrown.
For consistency, exists() should probably false while the registry hasn't been initialized, even for default channels.

Also, as a side note, the code in Pyrus\ChannelRegistry

[2011-07-22 00:43] fpoirotte commented on #30
Does this mean this ticket is bogus then?

[2011-07-24 18:18] helgi commented on #27
Wouldn't be be as plausible that people would attempt to use . by it self, no / added. I would imagine it is a possibility. I will look into this, a test case would be helpful tho (a phpt that is)

[2011-07-24 23:35] till commented on #35
I agree that `exists()` should not return `true` when it doesn't exist.

It also should not initialize anything.

[2011-07-30 14:07] fpoirotte commented on #7
Merged as pull request #45

[2011-07-30 14:07] #7 closed, assigned to nobody

[2011-08-07 15:11] saltybeagle commented on #39
This may be a bit difficult to manage, since the parent has no clue how many "child" registries refer to it... but the issue raises an important question, and a caution when using multiple registries.

[2011-08-07 15:15] saltybeagle opened #52 "Display where plugins are loaded from"
When a user executes pyrus from CLI, it would be helpful to:
- notify the user when additional commands are being loaded (security)
- inform what the plugin directory is, just in case a plugin blows up and needs removing

This also will help developers that are trying to work on plugins and aren't aware that they have a version of their plugin installed already. Could be only shown when verbosity,

[2011-08-19 08:09] cweiske opened #54 "global pyrus help shown everywhere"
The global pyrus help is shown everywhere, which sucks big deal.

[code]

-> why is the pyrus help shown there? why is the command help not shown?

[code]

Why is the pyrus help shown here? It doesn't make sense

[2011-08-19 08:14] cweiske commented on #19
still there with a3

[2011-08-19 08:15] cweiske commented on #18
still there with 2.0.0a3

[2011-08-19 08:17] cweiske commented on #18
`config.log` shows:

[code]

[2011-08-19 08:42] cweiske commented on #18
This error occurs when no PATH variable is set.

[2011-08-19 08:53] cweiske commented on #18
`$_ENV` is empty here.

[2011-08-19 09:19] cweiske commented on #18
Reason for  that is that `php.ini-production` shipped with PHP has

[code]

set, which misses the E - so ENV is not initilalized.

[2011-08-19 09:29] cweiske opened #56 "installing pecl package: PHP Notice: Undefined variable: php_errormsg"
I get the following message:

[code]

[2011-08-19 09:31] cweiske opened #57 "php extensions installed to wrong directory"
When installing a pecl package as normal user, pyrus tries to install the compiled `.so` extension file into the global directory (/usr/):

[code]

Instead, it should use the local installation path.

[2011-08-19 09:50] cweiske opened #58 "pyrus list -v should show which channels are checked"
When running

[code]

I get no packages show, because none are installed. I'd like to check if really all channels are checked, so I tried `-v`, but that didn't change anything.

IMO passing `-v` should produce similare output to list-upgrades

[code]

[2011-08-19 10:43] cweiske commented on #57
this was a configuration problem.

[2011-08-19 10:43] #57 closed, assigned to nobody

[2011-08-19 10:44] cweiske opened #59 "cannot unset php_suffix config setting"
Unsetting a config value does not seem to be possible:

[code]

[2011-08-19 11:06] cweiske opened #60 "install pecl/apc: constraint failed"
[code]

[2011-08-19 11:13] cweiske opened #61 ""unknown filesize" when downloading packages"
Current git master shows "unknown filesize" when downloading packages:

[code]

Using 2.0.0a3 shows the full size.

[2011-08-19 11:27] cweiske commented on #60
I added some debug statements (pull please):

[code]

[2011-08-19 11:29] cweiske commented on #60
Prompt is NULL, but the SQL creation statement says it may not be null:

[code]

[2011-09-13 00:00] #58 closed, assigned to nobody

[2011-09-13 00:09] #56 closed, assigned to nobody

[2011-09-13 00:15] saltybeagle commented on #33
The pyrus `search` command now uses a service provided by http://pyr.us/ which aggregates channel information obtained from the PEAR channels directory.

The source for the channel information aggregator is available here: https://github.com/saltybeagle/pearhunt and it includes a script to parse the XBEL feed from PEAR and add all the channels which Pyrus can parse.

https://github.com/saltybeagle

[2011-09-13 00:15] #33 closed, assigned to nobody

[2011-09-13 17:48] mattfarina opened #63 "Allow download of packages rather than just install"
Say I want to download wordpress to the directory I'm currently in. It would be nice to be able to do something like:

[code]

This would download wordpress and expand it for me. Having a second form of package like this would be very useful.

[2011-09-13 17:51] mattfarina opened #64 "make pyrus a command line utility"
It would be nice to be able to do something like:

[code]

That means no php or .phar involved. Make it a true command line utility.

[2011-09-13 17:56] mattfarina opened #65 "Create a step by step package generator"
Look at how in symfony you can generate new stuff. A step by step system asks you questions in a command line UI. You can see a video of it in action at http://symfony.com/.

How about something like this for creating packages. And another command for dealing with updates to package files.

[2011-09-13 18:00] mattfarina opened #66 "Process for package submission to pear2.php.net"
What is the process for package submission to http://pear2.php.net? Can this be documented and easily displayed in the UI?

[2011-09-13 18:05] mattfarina opened #67 "Handle package bundles"
Say for instance I have an app called foo. Within that app I wanted to have a bunch of packages in a local directory. It would be nice to be able to define a file bundle.xml that holds all the name and versions of the bundles to install. Then, from within the apps directory structure I could do:

  $ pyrus bundle install

And it would make sure all the packages defined in bundle.xml were installed

[2011-09-13 18:33] saltybeagle commented on #67
See https://github.com/pyrus/Pyrus_VendorCommands which does what you're asking for, by examining the package.xml

[2011-09-13 18:34] saltybeagle commented on #66
This is not an issue for the installer. Feel free to submit a request for the PEAR2 project though, or here at the pear2.php.net website project: https://github.com/pear2/pear2.php.net

[2011-09-13 18:34] #66 closed, assigned to nobody

[2011-09-13 18:39] saltybeagle commented on #65
See the Pyrus_Developer tools, with two commands you can generate everything you need to get started creating a package without ever touching or writing the package.xml. I'm not against it being interactive either. If you like the package generation to be interactive, could you file a request on the Pyrus_Developer project?

Here's info which explains how to do it:

There are two commands which ca

[2011-09-13 18:39] #65 closed, assigned to nobody

[2011-09-13 18:41] saltybeagle commented on #64
A wrapper script could certainly be provided, or installed with a helper command.

You can also chmod +x the pyrus.phar and execute it directly at the CLI.

[2011-09-13 18:42] saltybeagle commented on #63
I think that's a great idea. It's a feature the pear installer already supports, and pyrus is missing.

[2011-09-13 18:50] mattfarina commented on #65
The simpler the better. I filed an issue at https://github.com/pyrus/Pyrus_Developer/issues/8 for an interactive installer.

[2011-09-13 18:51] mattfarina commented on #64
The idea would be for it to exist someplace like /usr/bin so it's in the users path. That way it can be executed from anywhere like a regular command line app.

[2011-09-13 18:54] mattfarina commented on #67
Is this part of Pyrus proper in the phar that's downloaded? Is there any documentation on how to use it?

[2011-09-13 19:06] saltybeagle commented on #67
Right now it's not included by default, and is available as a plugin. I would like to see it included by default, of course. But it'd be great to get some more feedback and flesh out how all the dependencies should be managed within an app.

[2011-09-13 19:08] saltybeagle commented on #67
Oh, and there's currently no documentation outside of the command help text, source here: https://github.com/pyrus/Pyrus_VendorCommands/blob/master/customcommand/commands.xml

[2011-09-13 23:31] helgi commented on #63
pyrus has a download feature, see "pyrus help download" but it does not expand the downloaded archive, however - I am not a fan of that command and think it should be a switch on the install command.

[2011-09-13 23:39] helgi commented on #54
Can you be more clear? I am not clear on what's wrong, you mention command help yet I can not see what you ran

[2011-09-13 23:41] helgi commented on #54
Oh, no, now I understand... it's because you used the alias instead of the ful name that threw me off

[2011-09-15 15:13] sasezaki opened #68 "default_channels is missing pyrus.net"
related issue is #53

[2011-09-15 15:22] saltybeagle commented on #68
excellent!  :-)  Thanks for the reminder.

[2011-09-15 15:56] #68 closed, assigned to nobody

[2011-09-23 21:49] saltybeagle commented on #26
Aha, the issue was fixed for pyrus built packages. Older PEAR packages still have a doubling of the package name on the docs/data/etc dir.

[2011-09-23 21:57] saltybeagle commented on #8
I just revised the title of the issue to better describe the problem. This is not a sudo issue, but rather, and issue with ALL symlinks inside directories when pyrus attempts to create a journal directory for the atomic file transaction.

[2011-09-23 22:04] ashnazg commented on #26
I see this "doubling of the package name" condition occurring when installing pear/phpdocumentor using pyrus 2.0.0a3... my data_dir shows data/PhpDocumentor/PhpDocumentor when it should only show /data/PhpDocumentor.

However, I don't really see "doubling" occuring with other pear1 packages.  In considering other folders I see in data/:
- PEAR has loose files directly in data/PEAR/
- Codesniffer h

[2011-09-24 02:02] saltybeagle commented on #26
Hmm, this could be due to the `baseinstalldir` option within the `package.xml`.

`baseinstalldir="PhpDocumentor"`

http://svn.php.net/viewvc/pear/packages/PhpDocumentor/trunk/package.xml?view=markup#l109

[2011-09-24 21:32] ashnazg commented on #26
I see baseinstalldir="PhpDocumentor" all over the place.  Are you meaning all of them, only the ones on the files in role=data, all the file entries altogether, ... ?  In comparing it with XML_Util's package.xml, I see baseinstalldir only used on the top-level dir (dir baseinstalldir="XML" name="/").  Is that the more proper usage of baseinstalldir?

[2011-09-24 21:47] ashnazg commented on #26
Comparing installations of PhpDocumentor in Pyrus (PHP 5.3.8) versus PEAR (5.2.17 and 4.4.9), I do see a doubling of the baseinstalldir occurring in only the data, docs, and tests role directories, only in the pyrus installation.  Granted, PhpDocumentor doesn't put anything in the other role dirs (e.g. www).

[2011-09-26 00:03] neraath opened #69 "Using pyrus in directory with spaces results in failure"
When I attempt to run a newly downloaded version of Pyrus on my Mac in a development directory where I have spaces, I get the following error message:

[code]

If you look at the output above, you'll notice on the line when it refers to "failed to load external entity", the spaces in the path for "Mac Data Only" are URL-encoded to %20. I'm using Zend Server Community Edition. Specific details abou

[2011-09-27 21:18] saltybeagle commented on #69
Hmm, it looks like `XMLReader->setSchema()` can't handle a schema URL from a phar with uri-encoded spaces in it.

[2011-09-30 14:53] saltybeagle commented on #69
I believe libxml may be interpreting the schema path as a URI due to the phar:// prefix and url-encoding the spaces to `Mac%20Data%20Only`, which could be a valid directory name, but very different than `Mac Data Only`

I believe this is a bug somewhere between libxml and php, a workaround may require us to copy the file to a temp location, or use some other stream wrapper, such as data://

For ex

[2011-10-04 02:23] #63 closed, assigned to nobody

[2011-10-04 02:23] saltybeagle commented on #63
Closing this issue since the download command is already available.

[2011-10-10 23:11] pierrejoye opened #70 "pyrus package does not support package.xml supported by 1.x serie"
hi,

Trying to play with pyrus.phar directly (a3) for pecl, I noticed that many package.xml do not work anymore. That's sadly a no go to use pyrus as we do need to support existing format.

For an example, see the last zip release on pecl

http://pecl.php.net/get/zip-1.10.2.tgz

[2011-10-11 10:33] cweiske commented on #70
PEAR did not validate the package.xml against the DTD, which is what Pyrus does now.

Technically, the package.xml files are invalid.

[2011-10-11 10:49] pierrejoye commented on #70
I understand that but there are two problems here:
- It is not backward compatible, making pyrus unsuable for many packages released prior to pyrus (aka using pear 1.x)
- It does not tell in any way where it fails, and I fail to see what is wrong, for example

[2011-10-11 19:10] pierrejoye commented on #70
So it seems that it is about the changelog part.

Where:

[code]

should instead be:

[code]

I know it is a limitation of the validation (afair) but this is something awkward. Both XML are perfectly valid, there is no point to consider the 1st version as invalid and should not be. I was arguing about that already years ago with Greg when he was trying to enforce that.

[2011-10-11 20:55] saltybeagle commented on #70
There's no real argument, someone just needs to modify the .xsd to be more flexible. This has been done already to some degree, see ab3775cb12c42a70bd6cf08f04088e3a03e8e5d0

You're just finding more instances where you would prefer the schema be more flexible.

[2011-10-11 21:27] pierrejoye commented on #70
It is more about XML validity that schema per se. I discussed that with Brett before posting this bug. The real confusion here is that the order is different in both parts of the package.xml.

New releases can be easily fixed, my main concern here is BC with older releases. I was also suggesting to add a --force mode, or to call it better, --no-xsd-validation mode. That should do the trick.

[2011-10-11 21:40] pierrejoye commented on #70
Arf :) Read cweiske instead of saltybeagle :)

[2011-10-12 20:08] fpoirotte commented on #54
I was surprised by this behaviour too. Turns out that it only happens if you use "--help" (which is what most help messages point to...).

To workaround that, I recommend you always use the help command. So instead of "php pyrus.phar install --help", use "php pyrus.phar help install".
Please note however that the help command does not recognize command aliases (eg. "in" instead of "install"). This

[2011-10-18 20:42] fpoirotte opened #71 "Regression: extrafiles can't be strings"
The change for src/Pyrus/Package/Creator.php introduced in efc3a883cbcf5512d03602e9aa8dcdc42bbbe620 made it impossible to use strings as values for extrafiles (it **requires** you to pass a \pear2\Pyrus\Package, aka. \Pyrus\PackageInterface in the current code).

Therefore, it is not possible to embed files not present in package.xml the way the PEAR manual suggests to (see http://pear.php.net/man

[2011-10-22 13:06] fpoirotte opened #72 "Ignore VCS files during `pyrus.phar make`"
When running `pyrus.phar make ...`, it will create/update a package.xml file by recursively scanning directories from a standard layout.
While doing so, it picks up VCS related files (in my case, the ".git" directory from a git submodule).

I think such directories should be ignored by default (maybe with an option to override the patterns in case you want to include some of those files).
For exam

[2011-10-22 13:20] saltybeagle commented on #72
This feature request should actually go with Pyrus_Developer. Let me move it there first.

[2011-10-22 13:20] #72 closed, assigned to nobody

[2011-10-22 13:25] saltybeagle commented on #72
Moved to pyrus/Pyrus_Developer#9

[2011-10-23 11:13] fpoirotte commented on #71
See the pull request.

[2011-10-23 11:13] #71 closed, assigned to nobody

[2011-10-29 16:39] helgi commented on #70
This is a big problem - People seem to have randomly hand edited the XML files. Seems we are pretty good where people have used PFM or a similar automated solution.

Another place I noticed failing quite often is anything gopal maintains :) See APC for example, where <active> in maintainers is suppose to be boolean but people seem to be putting their username for some reason.

I want to see us imp

[2011-10-29 16:42] helgi commented on #69
That's not a half bad solution, have you tried it? Makes me wonder tho if we can't just decode the phar url and that works fine. A test case would be good _hint hint_

[2011-10-29 16:44] helgi commented on #64
The idea was to create a wrapper package or a similar solution that can compliment pyrus and provide that functionality. Someone just has to step up and do it.

I could see it being a part of a install.sh or go-pyrus.php or some and it would install all of those shell / bat scripts like PEAR has and then drop the Pyrus.phar file in the appropriate place.

Anyone see flaws with that approach?

[2011-10-29 16:54] helgi commented on #54
Can you guys check if this still happens in a4 or HEAD? Otherwise I will fix it but I did some work on the CLI / Help stuff not too long ago.

[2011-10-29 20:44] saltybeagle commented on #69
I started working on one, this is as far as I got:

[code]

[2011-10-31 21:29] pmjones opened #75 "Allow for dots in package names"
Currently, naming a package "Vendor_Name.Package_Name" is disallowed when creating a package. Can we make it so that dots are valid separators in a package name?

[2011-10-31 22:03] pmjones commented on #75
Could it be as simple as changing the regex at ...

https://github.com/pyrus/Pyrus/blob/master/src/Pyrus/Validate.php#L38

... to something like '[A-Za-z][a-zA-Z0-9_.]+' ?

[2011-11-01 12:45] fpoirotte commented on #54
Still happens with HEAD (see output below).
BTW, even though RELEASE-2.0.0a4 was created some time ago, it seems no corresponding phar has been generated for it yet (the phar in the git repo and on pear2.php.net is the a3 release).

[code]

[2011-11-13 02:45] harikt commented on #75
Any issues regarding this ? Or do we need to send a PR ?

[2011-11-13 05:40] CloCkWeRX commented on #70
Is the very fact we're using xsd, and the fact it implies sequences in tags the wrong choice for us? Schematron for instance relies on xpaths being present - if there's extra crap; or it is in the wrong order, it doesn't care; so long as the rules are present.

http://dret.net/lectures/xml-fall08/schemalanguages touches on some of the offerings available.

[2011-11-13 05:55] CloCkWeRX opened #76 "Build instructions appear outdated / regression from namespace removal?"
clockwerx@sgrv1:~$ git clone https://github.com/pyrus/Pyrus.git
clockwerx@sgrv1:~$ git clone https://github.com/pyrus/Pyrus_Developer.git
clockwerx@sgrv1:~$ cd Pyrus
clockwerx@sgrv1:~/Pyrus$ php scripts/pyrus upgrade -p ../Pyrus_Developer/package.xml
Using PEAR installation found at /home/clockwerx/pear2
Downloading pyrus.net/Pyrus_Developer
Installed pyrus.net/Pyrus_Developer-0.5.0
clockwerx@sgrv

[2011-11-13 05:55] CloCkWeRX commented on #76
Oops, https://github.com/pyrus/Pyrus_Developer/commit/5f65633decb69468cc1cf42beb4ff8b27561e200

[2011-11-13 18:44] till commented on #60
I just ran into this too.

What does 'prompt' refer to?

[2011-11-13 18:51] till commented on #61
Were you able to pin this down?

[2011-11-13 18:54] till commented on #64
@mattfarina: Do you feel like contributing this?

[2011-11-13 20:10] till commented on #61
I tried to debug this.

It seems like the DownloadListener class is alright. It gets assigned (using observer pattern) to PEAR2\HTTP_Request. I'm guessing the bug is in there, but I couldn't figure it out.

[2011-11-14 03:26] mattfarina commented on #64
I had initially thought about writing something like this. But, with the current demands on my time I just can't commit to writing this. It's too low on my priority list.

[2011-11-14 17:00] till opened #77 "bundle Pyrus_Developer"
Let's bundle it for now.

[2011-11-15 22:41] till commented on #76
Likely related to #77

[2011-11-16 22:40] fpoirotte commented on #61
The issue lies in the cURL adapter in PEAR2\HTTP_Request, more precisely, in the progressCallback.
For some reason (I suspect, while the response headers haven't been processed yet), the callback function is called with all its parameters set to 0.
The callback method then does a great work at sending this $dltotal = 0 information to the DownloadListener through the observer pattern and ensures no

[2011-11-16 23:37] fpoirotte commented on #60
`oname`, `prompt` & `default` refer to the (PECL-specific) `<configureoption>` tag in package.xml.

Eg. for APC, package.xml contains:

[code]

I think the meaning of each parameter in the SQL query should be pretty clear now.

AFAICT, I think this is triggered by `\Pyrus\PackageFile\v2\Configureoption::current()` which sets the `name`, `default` & `prompt` to null explicitely when one of them is

[2011-11-16 23:42] fpoirotte commented on #59
I think the `value` argument in `pyrus set` should really be optional. If left out, the option should just be unset (or reset to its default value).

[2011-11-17 06:15] fpoirotte commented on #29
The patch has been applied in eb58d230 by @saltybeagle.

[2011-11-17 14:18] #29 closed, assigned to nobody

[2011-11-17 21:19] saltybeagle commented on #75
I can't think of any issues that change would cause. A PR would be great.

[2011-11-18 14:21] #61 closed, assigned to nobody

[2011-11-18 14:21] till commented on #61
Closing this as it was fixed in said issue (in pear2/HTTP_Request).

[2011-11-18 14:31] till commented on #75
PR and a small test would be much appreciated.

[2011-11-18 14:57] saltybeagle commented on #61
Just need to make sure we upgrade the bundled lib in the pyrus/vendor/ dir. `pyrus vendor upgrade PEAR2_HTTP_Request-0.3.0`

[2011-11-18 20:38] fpoirotte commented on #60
ok, I managed to install APC by doing a few changes in `\Pyrus\PackageFile\v2\Release::__get()`:

[code]

For some reason, `$this->info['configureoption']` receives a different structure during install and uninstall.

During `install`, the structure is close to a SimpleXML tree, mapped into an array (eg. with an "attribs" key containing an array of XML attribute => XML value). This looks like this

[2011-11-19 13:35] harikt commented on #75
How can I run test first ?
I tried

[code]

Getting a bunch of errors :( . Never used phpt though :( .

[2011-11-19 13:39] saltybeagle commented on #75
You can run all the tests with:

`pyrus run-phpt -r tests` or `pear run-tests -r tests`

I believe PHPUnit can run .phpts but I've no experience with that.

[2011-11-19 13:47] harikt commented on #75
[code]

Wondering Is that ok with the failure for validate ?

[2011-11-19 13:51] saltybeagle commented on #75
Hmm. Only 2 failures is fantastic — that there were only 4 tests is a problem. :-)

There should be around 726 tests.

[2011-11-19 13:55] saltybeagle commented on #75
Here's what I get:

[code]

[2011-11-19 14:20] harikt commented on #75
By the way I run only for Validate, for it seems only change for Validate is needed .

[code]

But failures are not good , is this only on master ?

[2011-11-19 14:25] harikt commented on #75
hm , sorry it seems something went wrong . Forgot about the error when I run it . Now I am getting 36 success ones for Validate .

[2011-11-19 14:26] saltybeagle commented on #75
Oh, I thought you were still trying to understand how to run the tests.

Yes, if you've got a new test, and there are now failures — that's a problem.

It looks like there's currently 36 tests in the Validate dir:

[code]

[2011-11-21 16:56] harikt commented on #75
Sorry this seems hard for me :( . I am stepping out .
Things I did
1 ) Created a channel server with pirum
2 ) Changed the validation as @pmjones mentioned
3 ) To test we need to create a package . As I have made the necessary changes , I cannot use the pyrus.phar I guess . Seems I want to generate again the phar file .
I am still not sure how to make it .

So sorry leaving for the time :( . If so

[2011-12-07 13:37] olofa opened #79 "Pyrus doesn't work through http proxy"
Hi,

I'm using php 5.3.2 and pyrus 2.0.0a3. I have also tried with php 5.3.8.

I did:

pyrus set http_proxy fqdn:port

I run tcpdump on the http proxy server and this is what I get when trying to install a package:

GET /rest/p/pear2_net_transmitter/info.xml HTTP/1.0
Host: pear2.php.net
User-Agent: PEAR2_Pyrus/2.0.0a3/PHP/5.3.2
Accept:

Our squid3 proxy doesn't accept that. It wants to have it lik

[2011-12-09 04:59] CloCkWeRX opened #81 "Support installation of composer packages"
Packagist/Composer have arrived; and while relatively new they have a bit more momentum than pear2 by itself. PEARHub is out equivalent, and while it's not bad it isn't getting the same kind of press either :)

Composer can already deal with a pear package and install that; we should look to provide the same support in reverse if easy enough.

Surely we could write a channel mechanism that deals w

[2011-12-15 16:28] harikt opened #82 "Improve the Error message thrown"
Recently I was having an issue downloading via Pyrus the Pear2\HTTP\Request

Issue is over https://github.com/pear2/HTTP_Request/issues/4

[code]

But according to @saltybeagle , it was due to there are no releases which match

Good if its would have shown some improved message than this.

Thanks

Hari K T

[2011-12-16 16:58] fpoirotte commented on #82
I believe this is the same as issue #14.

[2011-12-16 17:10] harikt commented on #82
@fpoirotte Yes you are right . I just checked it . I am closing this then .

[2011-12-16 17:10] #82 closed, assigned to nobody

[2011-12-17 02:17] ghost opened #83 "Issues with non-ascii characters"
When pyrus.phar is launched from a directory whose name contains non-ascii characters pyrus thows an XMLParser\Exception.

For example:

[code]

[2011-12-18 23:36] fpoirotte commented on #83
I can reproduce this using the latest version of pyrus.phar as released on http://pear2.php.net/.
However, I cannot reproduce the results using a git clone for Pyrus / Pyrus_Developer... but I suspect the issue is specific to phar.

A similar issue [#69] has been discovered in alpha3 whereby libxml2 fails to load an XML schema when a phar archive or any other PHP stream is used and there are space

[2011-12-21 11:08] johanneskonst opened #84 "Pyrus\XMLParser\Exception: Cannot open phar:///.../built-in-commands.xml"
I've tried to use the pyrus.phar from packages.zendframework.com, which gave me the following error:
Pyrus\XMLParser\Exception: Cannot open phar:///.../pyrus.phar/Pyrus_Pharer-0.1.0/data/pyrus.net/Pyrus/built-in-commands.xml for parsing.
So I tried the official pyrus.phar from pear2.php.net, which gave me a similar but slightly different error:
PEAR2\Pyrus\XMLParser\Exception: Cannot open phar:///

[2011-12-23 19:21] alganet opened #85 "auto_discover not working"
I'm having a hard time trying to automate packaging installation from a raw package.xml file. Getting this:

[code]

I coudn't figure out a way to do this automatically. Optional dependencies on package.xml may change, and new channels on that file may be added.

Any thoughts on this?

Thanks!

[2012-01-12 15:20] saltybeagle opened #86 "Add detect_unicode=0 workaround to shebang"
See https://github.com/composer/composer/pull/201

[2012-01-17 19:42] harikt opened #87 "Exception when trying to create a release"
Following https://github.com/pyrus/Pyrus/blob/master/HOWTO-RELEASE

[code]

[2012-01-18 17:48] saltybeagle commented on #87
It looks like you've got two 'make' commands mapped. If you're following the HOWTO-RELEASE file, step 1 recommends you install Pyrus_Developer — but these tools are already mapped using the local-developer-commands.xml file.

You can use one, or the other, but not both. Because commands must be unique, only the first one initialized will work. You can remove the Pyrus_Developer tools from your plu

[2012-01-18 17:55] harikt commented on #87
@saltybeagle I followed https://github.com/pyrus/Pyrus/wiki/Developing-for-Pyrus , then followed the HOWTO-RELEASE file ,
I was not aware the first step was installing Pyrus_Developer .
From where can I remove it ? Where is the plugins registry :( .
Currently its not creating the phar too :( , will it work , if the exception is gone ?

[2012-01-18 17:56] saltybeagle commented on #76
This issue has been fixed. The package.xml for Pyrus_Developer simply needed to be updated.

[2012-01-18 17:56] #76 closed, assigned to helgi

[2012-01-22 21:42] boenrobot opened #88 "Pyrus falsely claims to fail downloading to FTP."
Using Pyrus 2.0.0a3

[code]

makes Pyrus fail with the following exception:

[code]

The curious part about this however is the fact the download is successful, despite what the message says. Attempting to install the package again (hoping to bypass this error, given that the file is already downloaded), another misleading exception appears:

[code]

[2012-01-24 20:01] c9s opened #89 "Failed to list/discover a local hostname"
Hi,

I have my own hostname defined in /etc/hosts, called pear_local, and is mapping to 127.0.0.1

But I can't discover this channel through PEAR neither Pyrus:

[code]

And failed when listing channels:

[code]

[2012-02-11 19:50] #69 closed, assigned to nobody

[2012-02-11 19:58] saltybeagle commented on #89
Could you supply your channel.xml?

[2012-02-11 20:01] #86 closed, assigned to nobody

[2012-02-11 20:05] saltybeagle commented on #83
Confirmed that this is the same issue as #69 and has been fixed.

[2012-02-11 20:05] #83 closed, assigned to nobody

[2012-02-11 20:09] saltybeagle commented on #88
Oooh... interesting thought about setting your pear path to an ftp:// location. Can't say I've ever tried that.

I'm thinking we'd need another driver to handle paths like that.

[2012-02-11 20:16] saltybeagle commented on #75
I think we're good to go. Thanks @harikt

[2012-02-11 20:16] #75 closed, assigned to nobody

[2012-02-11 20:21] saltybeagle commented on #59
I'm a bit confused, I'm able to set and unset the suffix.

[code]

[2012-02-11 21:04] #54 closed, assigned to helgi

[2012-02-11 21:09] saltybeagle commented on #5
I've added a check to the stub so if users chmod +x pyrus.phar it should run correctly now. Not much more we can do.

[2012-02-11 21:09] #5 closed, assigned to nobody

[2012-02-11 21:23] #14 closed, assigned to nobody

[2012-02-11 21:35] saltybeagle commented on #20
I can't reproduce this. I tried downloading 1.3.0 - 2.1.3 and all versions were able to download. What version were you trying to download?

[2012-02-11 21:38] saltybeagle commented on #70
This is not something I'm going to target fixing. The package.xml for those packages are not valid with the current package schema file.

I'd be happy to accept improvements to the package-2.0.xsd schema files if anyone is brave enough to try.

[2012-02-11 21:38] #70 closed, assigned to nobody

[2012-02-11 21:39] fpoirotte commented on #89
The underscore character (_) is not valid in hostnames and the regexp at https://github.com/pyrus/Pyrus/blob/master/src/Pyrus/ChannelFile/v1.php#L313 rejects it.
Anyway, accepting it may be a good idea because some operating systems (eg. Windows) allow it in various identifiers (eg. computer names in a network group).

[2012-02-11 22:00] #85 closed, assigned to nobody

[2012-02-11 23:10] saltybeagle opened #91 "Exit codes always 0 for external (plugin) commands"
The exit code is always 0 for external (plugin) commands.

For example, run-phpt always exits with 0, event when there are failures. Suggest using the return value of the command to determine success or failure and exit accordingly.

[2012-02-11 23:13] #91 closed, assigned to nobody

[2012-02-12 01:35] c9s commented on #89
Hi,

which doesn't show a proper error message, yes it will be nice if pyrus can accepting underscore. :-)

I've fixed this problem, actually I was working on this pear mirror tool: MiniPear https://github.com/c9s/MiniPear

[2012-02-12 01:36] #89 closed, assigned to nobody

[2012-02-12 02:47] harikt commented on #75
Wow great @saltybeagle . The credit goes to @pmjones .
Yes I have tested it some days back when you merged the commit.
But I was not successful creating the phar file . So you guys will be updating the `phar` soon ? May be its easy for you :-) . @pmjones  What about introducing @pear packages in the coming release if `phar` is available ?

[2012-02-12 07:02] cweiske commented on #89
How did you fix this problem?

[2012-02-12 10:13] c9s commented on #89
well,  not to use underscore, use dash instead of it.

[2012-02-12 10:26] fpoirotte commented on #89
IHMO, we should either accept underscores or reject them during the call to channel-discover.
I have a patch ready for both of these solutions.

[2012-02-12 12:16] cweiske commented on #89
According to RFC 2396 (URLs), section "3.2.2. Server-based Naming Authority", underscores are not allowed:

[code]

We should thus not accept underscores but reject them.

[2012-02-12 12:32] c9s commented on #89
Should prompt readable error message for this kind of validation. :-)

[2012-02-12 18:43] cweiske commented on #20
Cannot reproduce anymore with 2.0.0a3. Probably fixed since my 2.0.0a2

[2012-02-12 18:43] #20 closed, assigned to nobody

[2012-02-12 18:49] cweiske commented on #59
Sorry for the confusion. That's a phpfarm bug. `pyrus-5.3.7` is a shell script with the following content:

[code]

This does swallow the `--` and `""`, thus the parameters are missing :/

[2012-02-12 18:49] #59 closed, assigned to nobody

[2012-02-12 19:15] fpoirotte commented on #59
@cweiske: add quotes around $@, from bash's man:
- $@ is equivalent to $1 $2 ...
- "$@" is equivalent to "$1" "$2' ...

[2012-02-13 16:28] saltybeagle commented on #75
I'm working on getting a new pyrus.phar out.... I was hoping to fix one more bug but it's not going as well as I'd hoped.

[2012-02-13 16:53] harikt commented on #75
Looking forward for the new `phar` as the old one seems released 6 months back . So may be lots of Bug fixes already here :-)

[2012-02-14 12:55] c9s opened #92 "Support source.list for channel list."
When channe list growing,  It's really hard to export channel list from one machine to another. there is no quick way to export/import channel list.

My idea is from Debian's sources.list,  users can have many package sources (just like PEAR channel source), pyrus can use this source list to update / upgrade packages very easily.

But I think It's better to design another component to manipulate c

[2012-02-19 03:07] saltybeagle commented on #87
I've packaged up an RC of 2.0.0a4 - see if it works for you

[2012-02-19 03:07] saltybeagle commented on #79
Should be fixed now. Thanks your help tacking down the bug

[2012-02-19 03:08] #79 closed, assigned to nobody

[2012-02-19 06:29] sasezaki opened #93 "current Pyrus-2.0.0a4 not includes PEAR2\HTTP\Request correctly"
Hi. I've download Pyrus-2.0.0a4 from pear2.php.net.
But PEAR2_Http_Request seems to not include correctly.

[code]

Extracted pyrus.phar 's directory structure (phar->extractTo()) is

[code]

[2012-02-19 08:44] harikt opened #94 "Package Name not same when package is created"
The package name in xml is `Aura.Autoload` , but the package created is `Aura.0.0beta2.tgz` , which misses the second value after the dot . Though the output says its creating `Aura.Autoload-1.0.0.beta2.tgz` , see it misses `Autoload-1`

[code]

The `package.xml` file is

[code]

`package.xml` is created via Onion as I feel its an easy way https://github.com/c9s/Onion/

`package.ini` of onion is

[2012-02-19 08:45] harikt commented on #87
Hi @saltybeagle

Thank you for making it available soon , but we have some other bug ? So opened another issue see

https://github.com/pyrus/Pyrus/issues/94

The package name is different when tar ball is created .

[2012-02-21 11:55] chilversc commented on #93
For reference, the full tree is https://gist.github.com/1876035

The directory in question is at line 37 https://gist.github.com/1876035#L37

[2012-02-21 20:55] saltybeagle commented on #93
Thanks for the note! The bundled dependencies were apparently really messed up. Could you try the pyrus.phar I just committed?

https://github.com/pyrus/Pyrus/blob/master/pyrus.phar?raw=true

[2012-02-21 22:15] fpoirotte commented on #26
The original bug report on pear.php.net has a patch (see http://pear.php.net/bugs/bug.php?id=17589&edit=12&patch=Xml.Role.Fix&revision=latest) that seems to do the trick for the "data" role, but somehow, this doesn't look like the right fix for this defect (it removes the "unusualbaseinstall" flag and sets the "honorsbaseinstall" flag instead).

Now I'm pretty sure the "unusualbaseinstall" flag wa

[2012-02-22 12:39] sasezaki commented on #93
Fixed!Thanks!

[2012-02-22 12:40] #93 closed, assigned to nobody

[2012-02-22 12:51] saltybeagle commented on #93
Great, sorry for the trouble.

[2012-02-26 21:46] glenjamin commented on #34
This just bit me in a much more mundane situation, I was attempting to use pyrus to install a particular version of PHPUnit into my application's vendor directory.

However, PHPUnit makes use of the @php_dir@ interpolation for its bin script, which is made into an absolute path by the realpath() call, making the script non-portable without editing.

[2012-03-03 08:06] suin opened #95 "pyrus install pecl/yaml: Invalid XML document"
[code]

[code]

[code]

[code]

[2012-03-03 17:24] saltybeagle commented on #95
Looks like the package.xml for pecl/yaml is incorrect. Perhaps you can file a bug with the pecl package?

[2012-03-05 23:37] fpoirotte commented on #84
Could you please paste the exact command that resulted in this exception please? Having a simple way to reproduce the issue locally would greatly help.
Also, could you try to reproduce the issue with the current pyrus.phar archive at pear2.php.net? (Pyrus-2.0.0a4)

It seems the built-in-commands.xml file is indeed missing from both Pyrus-2.0.0a3 and Pyrus-2.0.0a4 (at least, that's what `phar.phar

[2012-03-06 07:37] johanneskonst commented on #84
Any command failed with above exception, even trying to execute the pyrus.phar without any extra args.
This might have been a PHP error though, as I'm unable to reproduce this with the original phar I used to get above exception with, as well as the fresh copy from pear2.php.net.
Current cli version:

[code]

[2012-03-24 14:36] CloCkWeRX opened #98 "PHP Warning: call_user_func_array() expects parameter 1 to be a valid callback, class 'Pyrus\PackageFile\v2' does not have a method 'hasConcreteVersion' in phar:///home/vagrant/.phpenv/versions/5.3.10/bin/pyrus.phar/Pyrus-2.0.0a4/php/Pyrus/Package/Base.p"
See http://travis-ci.org/#!/CloCkWeRX/phpDocumentor2/jobs/937999

PHP Warning:  call_user_func_array() expects parameter 1 to be a valid callback, class 'Pyrus\PackageFile\v2' does not have a method 'hasConcreteVersion' in phar:///home/vagrant/.phpenv/versions/5.3.10/bin/pyrus.phar/Pyrus-2.0.0a4/php/Pyrus/Package/Base.php on line 187

[2012-04-04 13:49] cweiske opened #99 ""pyrus help set" shows wrong position of path"
[code]

should be

[code]

[2012-04-19 16:30] Konafets opened #100 "Error installing packages"
Installing packages with
$ sudo php pyrus.phar install -f PEAR2_Pyrus
gives me strange errors:

Using PEAR installation found at /usr/lib/php
Downloading pear2.php.net/PEAR2_Pyrus
Mime-type: text/plain; charset=UTF-8
Downloading pear2.php.net/PEAR2_Autoload=============================================================>] 100% (8419/8419 kb)
Mime-type: application/x-gzip
Downloading pear2.php.net/PEA

[2012-04-20 13:29] saltybeagle commented on #100
Hi Stefano, this is an unfortunate known bug. All the details are here: #3

[2012-04-20 13:29] #100 closed, assigned to nobody

[2012-05-04 15:26] trq opened #101 "Class 'XMLWriter' not found"
[code]

[2012-05-05 12:36] fpoirotte commented on #101
It seems Pyrus is lacking a check here...

In the meantime, you can work around this problem by installing the package corresponding to the XMLWriter extension from your distribution's repositories or (in case you compiled PHP yourself) by adding `--enable-xmlwriter` to your configure line.

[2012-05-05 12:52] trq commented on #101
Yeah, I recompiled with xmlwriter enabled and the error is gone.

[2012-05-29 19:43] lsolesen commented on #98
Also got this.

[2012-08-03 15:57] gritter commented on #10
To make pyrus more usable in more locations, shared hosts for example, having a user defined bin directory option would make pyrus more portable. Keep the default, but allow users to define their own bin.

[2012-08-07 18:40] laurinkeithdavis opened #103 "Cannot Install Modules - rename access is denied"
Windows 7 Professional x64

C:\inetpub\3rd Party Apps\PEAR>pyrus install hp/HTMLPurifier

 Pyrus version 2.0.0a4 SHA-1: 72271D92C3AA1FA96DF9606CD538868544609A52
 Using PEAR installation found at C:\inetpub\3rd Party Apps\PEAR\PEAR
 Downloading htmlpurifier.org/HTMLPurifier
 Mime-type: application/x-gzip
 [>
 [===============================================================================
 ========

[2012-09-12 07:08] cweiske commented on #17
Still happens with

on php 5.4.6

[2012-09-28 20:09] cweiske commented on #26
This bug breaks phing and phpdocumentor.

[2012-10-11 15:12] vogdb opened #104 "Cannot locate PEAR2/Exception.php"
Hi! I'm trying to create simple package like this:

[code]

But always get this exception:

[code]

however repo has it

[code]

and php also has repo

[code]

Sorry if I misunderstood something in the documentation but I already killed about 7 hours for this problem.

[2012-11-04 14:13] enrico200165 commented on #103
exactly same problem here. I tried to manually rename the pear dir  manually, the initial . seems to be refused by windows 7, gives error box "You must type a file name"

[2012-11-04 19:08] till commented on #104
@saltybeagle Maybe pyrus should install this when you initialize it?

@vogdb Try something like:

[code]

[2012-11-04 19:13] till commented on #101
@trq @fpoirotte Can you guys paste the output of the following from Windows:

[code]

Because pyrus checks for the extension here:
https://github.com/pyrus/Pyrus/blob/master/stub.php#L12

[2012-11-04 19:18] #95 closed, assigned to nobody

[2012-11-04 19:35] till commented on #64
This seems to work:

[code]

[2012-11-05 02:36] trq commented on #101
I don't use Windows and as mentioned in my previous reply, installing the xmlwriter extension resolved the issue for me.

[2012-11-05 15:13] till commented on #98
@CloCkWeRX This is merged, right?

[2012-11-05 15:14] #94 closed, assigned to nobody

[2012-11-05 15:15] #87 closed, assigned to nobody

[2012-11-05 15:16] #84 closed, assigned to nobody

[2012-11-05 15:20] till commented on #77
OK, I tested this:
- downloaded pyrus yesterday
- executed `./pyrus.phar make`
- was promoted for the download
- download worked
- `./pyrus.phar make` now works

I pronounce this fixed.

[2012-11-05 15:20] #77 closed, assigned to saltybeagle

[2012-11-05 15:21] till commented on #64
Closing this — IMHO, we should work on getting pyrus into package managers sooner or later and then they can take care of this.

[2012-11-05 15:21] #64 closed, assigned to nobody

[2012-11-05 15:34] till opened #105 "failed tests"
Failed tests:

[code]

[2012-11-05 16:15] till commented on #35
So, playing with this code, I noticed a few things:
- `exists()` sometimes returns `1` instead of `true`, I fixed this in a branch
- `exists()` seems to initialize the registry for default channels (`pear.php.net` and `pear2.php.net`)

The behavior is a little more than inconsistent.

[2012-11-05 17:12] till commented on #35
Pushed my fix for the true or 1 issue to make the public API more consistent.

Otherwise, it seems like the default channels get initialized and there is no more exception. Whoever decided on that didn't read this ticket, or maybe just went ahead and did it anyway. I see no easy way to adjust that.

[2012-11-05 17:12] #35 closed, assigned to nobody

[2012-11-05 17:18] till commented on #92
@c9s I know it's late — but feel free to design it and come up with a PR.

[2012-11-05 17:39] till commented on #104
Just documenting what happens here:
- `Pyrus\Package\Creator` bundles a set of default libraries when you `package`
- apparently it doesn't find the `PEAR2\Exception`

[2012-11-05 18:05] till commented on #104
@vogdb Just to finish this off. @saltybeagle helped me debug this. I made some changes which should not require unnecessary dependencies anymore. However, the actual problem here is that your `include_path` is not setup correctly.

So e.g. your Pyrus setup is in: `C:\Sanin\PearRepository\php`

Then your `include_path` needs to be: `C:\Sanin\PearRepository\php\php`

[2012-11-05 18:05] #104 closed, assigned to till

[2012-11-05 18:10] till commented on #98
Looked myself. Seems merged.

[2012-11-05 18:10] #98 closed, assigned to nobody

[2012-11-05 19:50] cweiske commented on #99
The problem lies in `Pyrus/ScriptFrontend/Renderer.php#47`. It calls `\PEAR2\Console\CommandLine\Renderer_Default::name()` which already adds `[options]` - only then `[/path/to/pyrus]` is added.

[2012-11-05 23:26] till commented on #36
As far as I can tell (by testing), this is fixed in alpha4/master.

[2012-11-05 23:26] #36 closed, assigned to nobody

[2012-11-05 23:28] till commented on #81
We can revisit this when pyrus matures. Also, lol.

[2012-11-05 23:28] #81 closed, assigned to nobody

[2012-11-05 23:32] till commented on #15
Duplicate.

[2012-11-05 23:32] #15 closed, assigned to nobody

[2012-11-05 23:37] till commented on #105
@saltybeagle I think this is the only thing that keeps us from alpha5. I think it's necessary to get these enabled so we can get CI on the way and then hopefully never again break features which are covered by a test. What do you think it takes to get this resolved?

[2012-11-05 23:45] till commented on #30
@cweiske Ping. Close it, if it's bogus.

[2012-11-05 23:59] till commented on #23
@cweiske @saltybeagle Should be solved with my PR #108

[2012-11-06 00:01] till commented on #22
Works fine everywhere else but Windows — so it seems.

[2012-11-06 00:08] till commented on #67
Apparently not an issue because available.

[2012-11-06 00:08] #67 closed, assigned to nobody

[2012-11-06 00:10] till commented on #27
@cweiske @helgi Did anything come about?

[2012-11-06 00:12] till commented on #28
@cweiske Shouldn't the "/" or "\" in a path not matter anymore?

[2012-11-06 00:23] till commented on #17
Duplicate of #60

[2012-11-06 00:23] #17 closed, assigned to nobody

[2012-11-06 00:26] #23 closed, assigned to till

[2012-11-06 05:38] cweiske commented on #30
I don't really like the current behavior, but ok. There is an alternative we can use.

[2012-11-06 05:38] #30 closed, assigned to nobody

[2012-11-06 05:41] cweiske commented on #27
No.

[2012-11-06 05:42] cweiske commented on #28
yes, but then the tests need to be adjusted.

[2012-11-06 12:23] till commented on #28
@cweiske I don't know what the more consistent fix is.

[2012-11-06 12:27] till commented on #105
cc @saltybeagle

## tests/Custom/Command/basic.phpt

@cweiske helped me debug this yesterday. The commit breaking the test is ca074ae5003690b45c8e49a9ba469431ce1dc5e6 — how do we deal with this? `exit()` probably shouldn't happen _inside_ a class, but outside in a wrapper of some kind to keep code testible?

[2012-11-06 12:47] saltybeagle commented on #105
That looks fine to me. There are about half a dozen other exit calls that remain within `ScriptFrontend\Commands` — as for test-ability, testing the exit calls is not difficult at all using `phpt`

[2012-11-06 12:49] till commented on #27
@cweiske I have no idea if the patch works — do you mind working up a PR with the patch and a testcase? Only if time permits.

[2012-11-06 12:51] till commented on #105
@saltybeagle The problem is that a lot of tests rely on `ob_start()` to fetch output. `exit()` just drops that to stdout. Not sure if I want to fix that up, or rather have the class provide a clean exit code and then exit() in `scripts/pyrus` where it seems more appropriate?

[2012-11-06 12:58] till commented on #105
Looking at `Pyrus\ScriptFrontend\Commands` — I think most of that should be split up in sub-classes. But I don't wanna start this before we complete alpha5.

[2012-11-06 13:03] cweiske commented on #105
`phpt` brings the solution, brett is correct with that. We should just use propert `--EXPECT--` sections

@saltybeagle: why was `ob_start()` used at all instead of EXPECT?

[2012-11-06 13:50] till commented on #105
Opened another PR #110.

We should be down to like 6 or 7 (depending on my other PR) test failures.

[2012-11-06 15:56] vogdb commented on #104
@till
I did as you say

[code]

Also I changed include_path

[code]

This problem isn't critical for me. I can wait for the next release.

[2012-11-06 17:16] till commented on #105
@cweiske @saltybeagle Maybe you guys can give me an example of how I would convert this failing test case then?

[2012-11-07 15:54] till commented on #105
Progress:

[code]

[2012-11-07 16:27] till opened #111 "phpt"
cc @helgi @cweiske

Wanted to get some feedback. It seems like the phpt in Pyrus is a pretty limited framework/implementation. It's hard to do anything — so it seems and there are lots of gotchas and caveats.

So e.g.: I added to a `--SKIPIF--` section and typo'd something in there. Turns out, that when there is a parse error, it doesn't skip or do anything at all. It doesn't even tell you that th

[2012-11-07 17:39] till commented on #105
4 tests left

## AtomicFileTransaction related
- AtomicFileTransaction/AtomicFileTransactionClass/createOrOpenPath/createoropenpath.fail.fp.stream.empty.phpt
- AtomicFileTransaction/TransactionClass/createOrOpenPath/createoropenpath.fail.fp.stream.empty.phpt

Cannot figure this one out. The code is supposed to throw an exception because of the 'borked' resource, but it works here. Maybe a PHP 5.4

[2012-11-08 14:45] saltybeagle commented on #111
There are probably quite a few bugs in the PHPT runner. Those bugs can be filed on the Pyrus_Developer package.

To the question of accepting phpunit-based testcases — At one point we had around 70% LoC coverage with the existing phpts, so it seems to me that the test framework is not the problem. I do recognize that some contributors aren't familiar with it, though.

I would prefer phpt and will

[2012-11-08 15:05] till commented on #111
I think LOC are not the best indicator for good tests though. But ok, if we can do both, that's great.

[2012-11-08 18:43] fpoirotte commented on #101
@saltybeagle: I think this issue should be reopened as the issue still stands: stub.php checks whether the **XMLReader** extension is available, it doesn't check whether **XMLWriter** is though and both are required for Pyrus to work properly AFAIK.

[2012-11-08 18:54] till commented on #101
@fpoirotte I'm fixing this! Just running tests again.

[2012-11-08 18:59] #101 closed, assigned to till

[2012-11-08 19:47] till commented on #105
Alright, have these failures now (5.4.x):

[code]

[2012-11-09 10:33] magicsunday opened #115 "installing coding standard from pear.typo3.org fails"
http://pear.typo3.org/

Installing PHPCS_TYPO3v4_Standard 0.0.5 or 0.0.4 fails. I cannot unpack them with tar either, so it might be that the archives are broken. The old pear installer is able to install them, though.

[code]

[2012-11-09 14:00] saltybeagle commented on #115
I would contact the maintainer of the package you're trying to install. It looks like the archive file is corrupted.

[2012-11-12 13:06] cweiske opened #116 "upgrade-all missing"
There is currently no way to upgrade all packages without passing the name of each one to "pyrus upgrade"

[2012-12-19 11:51] cweiske commented on #19
still there with a4

[2012-12-20 11:14] cweiske opened #117 "use system umask instead of hard-coding file+dir permissions"
Pyrus often uses `mkdir($foo, 0755)`, which is not always wanted.

In our company, we have many people using the same pyrus installation on the same machine with different users. We need 0775 as permissions.

Pyrus should either use the umask, or have a configuration option to modify.

[2012-12-20 11:15] #18 closed, assigned to nobody

[2012-12-20 14:15] Narretz commented on #103
Same bug here.

[2012-12-21 06:40] pniederlag opened #118 "detect_unicode=0 workaround to shebang not portabel"
https://github.com/pyrus/Pyrus/commit/8e0d238ec154af867cca2b38d85d4568fc64f396 breaks the simple execution on a bunch of systems.

see also corresponding issue on composer:
https://github.com/composer/composer/issues/233

[2012-12-21 15:50] cweiske opened #119 ""pyrus upgrade" fails, wants -f"
[code]

I don't understand why it does not want to upgrade to the clearly available version 1.4.3.

[2012-12-21 15:52] cweiske commented on #119
Seems the release date is incorrect; it's today, and 1.4.2 was released way earlier.

[2012-12-21 15:54] cweiske commented on #119
Actually running `pyrus upgrade -f pear/php_codesniffer` installed 1.3.6 here.

[2013-01-08 12:43] demonkoryu commented on #10
Well, it would be nice if this would be documented somewhere.

[2013-01-08 12:44] demonkoryu commented on #9
Yeah. The error probably is this:

and it's fixed by e.g.

But nothing in the error message tells you this. It's quite a time waster.

[2013-01-08 12:48] demonkoryu commented on #3
Will this ever be fixed? See also #9.

[2013-01-30 12:11] cweiske opened #120 "uninstallation of docblox fails"
[code]

[2013-01-30 12:12] cweiske opened #121 "uninstall -f fails with dependencies"
[code]

I'm using `-f` to get around this restriction, but that fails.

[2013-02-01 14:58] Surt opened #122 "Rename of the actual to backup path failed"
Each time I try to install any package it gives me:

[code]

before that multiple warnings trying to rename php.old-php5.3.5 etc

Using Windows 8 64bits

[2013-02-04 15:12] addiks opened #123 "info.xml interpreted as text, not as XML."
When the REST component downloads a file, it checks the content-type and tries to parse it. For the content-type detection it simply checks if the provided content-type is exactly 'text/xml' or 'application/xml' for XML and anything else for text-based/unparsed. Problem is: this only works when the server sends exactly one of these two strings as content-type and nothing else.

When it tries to do

[2013-02-13 12:43] cweiske opened #124 "Installation from packages.zendframework.com fails / URL redirection problem"
[code]

The HTTP URLs redirect to their HTTPS counterparts, and that Pyrus does not follow.

[2013-02-13 14:10] #123 closed, assigned to nobody

[2013-02-15 14:59] addiks opened #127 "Exception raised when tried to put empty files into journal"
When installing DoctrineDBAL, i get an exception that tells me it failed to put a file into the journal:

[code]

After looking at it, i see that the file it is trying to put into journal is empty (0 bytes). The method that is performing the copy does also check the count of bytes copied and raises that exception above if 0 (zero) bytes get copied. That way it is impossible to put empty files into

[2013-02-22 10:41] CybotTM commented on #119
Same bug for me.

additonaly pyrus list-upgrades does not list any upgrades

[2013-03-14 19:01] cweiske commented on #115
http://forge.typo3.org/issues/44307

[2013-03-14 19:01] #115 closed, assigned to nobody

[2013-03-21 14:42] toonevdb commented on #103
Got the same error with 2 different packages. Windows 7 x64.

[2013-03-28 22:32] RedChrome commented on #103
Yeah got the same problem too...
my workaround was to create a temp dir for the  installer to place the executables files in, and change the paths of the executables appropriately:

Unfortunately, the paths in C:\php\TMP\ *.bat are wrong, so remove TMP\ from the *.bat's and move them to C:\php.

[2013-04-12 11:17] phaidros7 commented on #117
I agree, explicit 0755 prevents ACLs from working: with default ACLs for e.g. a group all files inherit those, but with explicit 0755, or better g-w the POSIX permissions are stronger than the ACLs and the whole multiuser problem is unsolved again :/

I second cweiske's proposal: either umask or config option!

[2013-06-06 17:33] icheko commented on #103
I finally got it working by removing the read-only attribute from the folder containing pyrus.phar. Couldn't find a fix on the interwebs, so I'm adding it here.

http://stringoftheseus.com/blog/2010/12/22/php-unlink-permisssion-denied-error-on-windows/

[2013-06-10 14:25] cweiske opened #128 "Invalid XML document: zendextsrcrelease with xdebug 2.2.2"
`xdebug 2.2.2` cannot be installed because pyrus doesn't like the `zendextsrcrelease` element in the `package.xml`:

[code]

[2013-06-17 16:52] dlancea opened #129 "Cannot remove .old-php during package install"
I'm trying to install the PHP_Beautifier PEAR package using pyrus.phar and I get the following error message.

[code]

This is on Windows 7 using an XAMPP install of PHP 5.4.7, Pyrus version 2.0.0a4.

[2013-06-28 06:57] brucebnu opened #130 "no packages installed in channel pecl.php.net / Error: Command "PEAR2_HTTP_Request" is not valid."
example 1
$ php pyrus.phar list-packages
Pyrus version 2.0.0a4 SHA-1: 72271D92C3AA1FA96DF9606CD538868544609A52
Using PEAR installation found at /home/niujiajie/src/myProject/vendor
Listing installed packages [/home/niujiajie/src/myProject/vendor]:
[channel pecl.php.net]:
(no packages installed in channel pecl.php.net)
[channel pyrus.net]:
(no packages installed in channel pyrus.net)
[channel pear2

[2013-07-29 08:05] stormwild commented on #122
I have the same problem when I tried to update phpcs:

[code]

wamp was not running.

Why is Pyrus trying to modify it's own containing folder?

Windows 7, 64bit

This issue is related to the following issues:
https://github.com/pyrus/Pyrus/issues/3
https://github.com/pyrus/Pyrus/issues/24
https://github.com/pyrus/Pyrus/issues/9
https://github.com/pear2/pear2.php.net/issues/25

[2013-08-12 16:15] cweiske opened #131 "versions not case-insensitive"
Pyrus should automatically uppercase "RC" version numbers when they are given on the command line.

Currently it simply fails:

[code]

When using `RC3` instead of `rc3`, it works better.

[2013-08-12 16:17] cweiske opened #132 "upgrade with specific version number fails; says package already installed"
Pyrus should try to upgrade instead of telling me that the package is already installed:

[code]

[2013-10-06 19:36] rocksfrow commented on #10
Perhaps instead add an option to the first-run install process which allows you to override the default bin (or press enter to keep /usr/bin default). This way it is very clear, each time you install (on a vhost setup).

[2013-12-03 09:55] cweiske commented on #60
Happes with pecl/memcache, too.

[code]

[2013-12-03 18:55] akanevsky opened #134 "failed opening a phar:// path for inclusion"
There is a problem with pyrus on a server that has PHP 5.3.3. I am trying to use pyrus for the first time on this particular sever after downloading it to /tmp, and the first thing I did was try to list all existing packages using the following command:

[code]

I get the following error messages:

[code]

In case it's helpful, when I run the following command:

[code]

It tells me:

[code]

What

[2013-12-30 12:49] rodfersou commented on #128
the problem looks to be the extension.. it looks for .zip file instead of .tgz file...

[2013-12-31 04:56] cweiske commented on #128
@rodfersou: no. It tries different extensions if the first downloaded is invalid.

[2013-12-31 10:41] rodfersou commented on #128
@cweiske but I if I open the link http://pecl.php.net/get/xdebug-2.2.2.tgz the download happen fine..

[2013-12-31 10:41] rodfersou commented on #128
@cweiske the fallback is not working...

[2013-12-31 10:46] cweiske commented on #128
It tries the tgz, downloads it, unpacks it, sees that the xml is broken.

Then it falls back to the .zip (which does not exist on pear.php.net/pecl.php.net) - that is ok.

The root cause is the XML error. This is the problem.

[2013-12-31 13:52] rodfersou commented on #128
@cweiske got it..

[2014-02-08 03:30] cellog opened #135 "pyrus.phar cannot run-phpt any more"
whoever removed the PEAR2_ prefix forgot to test to see if we could do any developer commands, and now it is impossible to re-build pyrus.phar or do pyrus.phar run-phpt.  Nice :)

[2014-02-08 05:20] cellog commented on #135
legacy problem: my existing repo did not have pyrus.net channel.  We need to forcibly install missing channels on changes like this, or at least notice that they are missing.

[2014-03-20 18:43] ghost commented on #103
Used -f option and it worked.

[2014-05-26 12:25] jk commented on #95
@saltybeagle Sorry to post here, but I have the same problem with the ssh2 PECL extension. Where can I file a bug against it or should I mail the maintainer directly?

[2014-05-28 13:17] saltybeagle commented on #95
@jk I would encourage you to contact the maintainers of the extension, listed here:
http://pecl.php.net/package/ssh2

[2014-07-30 09:47] kemitix commented on #79
Hi,

I'm getting this problem with the 2.0.0a4 release.

[code]

[2014-07-30 11:08] kemitix commented on #79
Further digging I've found that, although the problem is fixed with PEAR2_HTTP_Request-0.3.1, Pyrus is still bundled with 0.3.0. The github repo for PEAR2_HTTP_Request has no 0.3.1 tag, but its master branch does include the fix we need for this issue.

Pull request 138 adds the correct version of PEAR2_HTTP_Request.

[2014-10-17 10:02] JacopKane commented on #3
Let's make a new comment to this issue each year. (Last ones are 2013,2012 and 2011)

[2015-03-25 00:28] rsennewald commented on #128
Hi guys, I'm still seeing this problem when trying to install xdebug from pyrus and it seems this has been open for years.  Is there any work around for this?

[2015-03-28 00:10] rodfersou commented on #128
+1 we should focus on the soluction, not the on the problem..

[2015-08-03 04:53] tsuyoshiito opened #139 "Does Pyrus work after PHP Bug #66550(sqlite3) is fixed?"
I can't run Pyrus to install pear libraries on PHP 5.4.40 or later and 5.5.24 or later too.
It seems like PHP Bug fix #66550 is a trigger. http://bugs.php.net/66550

The error message is below.
 The SQLite3 object has not been correctly initialised
 Exception: The SQLite3 object has not been correctly initialised

Thank you.

[2015-12-24 14:22] ivancdmon commented on #139
Hi!

I have the same problem tsuyoshilito :(

[2016-02-04 19:11] obrun commented on #139
Depending on the complexity of what you are installing it may be useful that despite the error and not being able to update the registry it does actually download the tar file, in my case, under pear/downloads. From which the package can be extracted with tar zxpf [package]*gz and installed manually. Unfortunately I too wasn't able to find a solution to the cause of the problem.

[2016-04-10 15:02] #134 closed, assigned to nobody

[2017-07-10 16:03] Quix0r commented on #139
Same problem. Run as administrator (Windows 10, doh!) and do this:
`php pyrus.phar install pear/PHP_CodeSniffer`

PHP 7.1.6 (cli)

[2018-08-06 20:40] hatamiarash7 commented on #139
Same problem

@Quix0r not work for me

[2019-11-11 05:53] ildar-aim opened #140 "Fatal in PHP8, php-7.4.9 PHP Deprecated: Array and string offset access syntax with curly braces is deprecated in ...pyrus.phar/Pyrus-2.0.0a4/php/Pyrus/ChannelRegistry/Base.php on line 78 #27"
[code]

related
https://github.com/fpoirotte/phpfarm/issues/27

[2020-07-27 12:35] ildar-aim commented on #140
There is a Fatal error Under php-8.0.0beta1

[code]